@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

body {
  max-width: 1536px;
  margin: auto;
  padding: 10px;
}

/* Navbar styleing ST__ */

nav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo_container {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_logo_container img {
  height: 50px;
  width: 50px;
}

.navbar_logo_container h1 {
  font-size: 2rem;
}

.navbar_page_route_container {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_page_route_container li {
  font-size: 1.2rem;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
}

.navbar_page_route_container li:nth-child(1) {
  color: #fea301;
}
.navbar_page_route_container li:nth-child(2) {
  color: #01acfd;
}
.navbar_page_route_container li:nth-child(3) {
  color: #05d4df;
}
.navbar_page_route_container li:nth-child(4) {
  color: #5d58ef;
}

#navbar_mobile_memu_icon {
  display: none;
}

nav button {
  color: #ffffff;
  padding: 10px 50px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fea301;
}

nav button:hover {
  background-color: #fa9f02;
}

nav button:active {
  background-color: #ec9705;
}

/* Navbar styleing END__ */

/* Responsive styleing__ST */

@media screen and (max-width: 1536px) {
  body {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1280px) {
  body {
    max-width: 1024px;
  }

  .navbar_logo_container img {
    height: 40px;
    width: 40px;
  }

  .navbar_logo_container h1 {
    font-size: 1.8rem;
  }

  nav button {
    padding: 8px 45px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 768px;
  }

  .navbar_logo_container img {
    height: 35px;
    width: 35px;
  }

  .navbar_page_route_container {
    gap: 20px;
  }

  .navbar_page_route_container li {
    font-size: 1.1rem;
  }

  nav button {
    font-size: 1.1rem;
    padding: 8px 40px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 640px;
  }

  nav{
    padding: 20px 10px;
    border-bottom: 2px solid #FEA301;
  }

  #navbar_mobile_memu_icon {
    display: block;
    font-size: 1.2rem;
  }

  .navbar_page_route_container {
    display: none;
  }

  nav button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  body {
    max-width: 475px;
  }
}

@media screen and (max-width: 475px) {
  body {
    width: 100%;
    padding: 0 10px;
  }
}